/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.articulo-markdown p { margin-bottom: 1.5rem; line-height: 1.8; color: #334155; }
.articulo-markdown strong { font-weight: 700; color: #0f172a; }
.articulo-markdown blockquote { 
  border-left: 4px solid #065f46; /* Verde esmeralda oscuro */
  padding-left: 1rem; 
  font-style: italic; 
  color: #475569; 
  margin: 2rem 0; 
  background-color: #f8fafc;
  padding: 1rem;
}
